*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'baloo 2', cursive;
    background-image: linear-gradient(120deg, #F6d365 0%, #fda085 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}
.title{
    font-size:'lobster', curcive;
    padding: 0  15px;
    text-shadow: 0  0  5px rgba(0,0,0,0.4);
    display: inline-block;
    margin: 0  auto;
    
}
.title-1{
    background-image: linear-gradient(to bottom, transparent 0%, transparent  68%, #6fcffb 68%, #6fcffb 95%, transparent 95%);
    font-size: 50px;
    margin-bottom: 30px;
}
.container{ 
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: lab(2.53% 0.26 0.09 / 0.847);
    border-radius: 3px;
    box-sizing: 0  0  20px;
    padding: 30px  50px;
}
.form_group{
width: 100%;
margin-bottom: 20px;
position: relative;
 
}
.form_label{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: alls;
}
.submitBtn{
    font-family: 'Bitcount';
    background-color: #6fcffb;
    font-size: 25px;
    border-radius: 30px;
    padding: 5px 30px;
    display: block;
    border: none;
        margin: 20px auto;
}


